.idea/
# IDE
.vscode/
.DS_STORE
/coverage/
# Vendor
/vendor/
/app/vendor/
/app-praticiens/vendor/
/app-rdv/vendor/
# Logs
/app/logs/*
!/app/logs/README.md
# Cache
/var/cache/*
.phpunit.result.cache
cache.properties
.php_cs.cache
# Composer
composer.phar
composer.lock
/app/config/.env
*.env
/gateway/vendor/
/app-auth/vendor/